/* Font Definitions */
@font-face { 
    font-family: 'UVGA'; 
    src: url('WOFF/UVGA16.woff'); 
}
@font-face { 
    font-family: 'J'; 
    src: url('WOFF/jackeyfont.woff'); 
}
@font-face { 
    font-family: 'FSBI'; 
    src: url('WOFF/freeserifbolditalic.woff'); 
}

/* Root Variables */
:root {
    --background: black;
    --midtone: grey;
    --foreground: #adadad;
    --contrast: red;
    font-size: 2vh;
    font-family: 'UVGA', 'J', 'Courier New', Courier, monospace;
}

/* Global Styles */
html {
    background: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    min-height: 100svh;
    margin: 0;
    overflow: hidden;
    filter: url('#chromatic-aberration');
}

body {
    z-index: 1;
    background: var(--background);
    color: var(--foreground);
    position: fixed;
    width: 80vh;
    height: 80vh;
    overflow: hidden;
    border-radius: 2vh;
    filter: url('#fisheye');
    isolation: isolate;
    & * { user-select: none; }
}

.navmesh {
    display: none;
}

/* - - - - - */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal:not(:target) { display: none; }

#dom-overlay, #body-overlay {
    z-index: 50;
    position: absolute;
    pointer-events: none;
    inset: 0;
    padding: 1.5em;
    font-size: 1.4em;
}

.typing::after {
    content: '█';
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink { 0% { opacity: 0; } }